
.recipe-item {
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}

.recipe-item:hover {
    background-color: #eee;
}

.recipe-item.active {
    background-color: #d0e7ff;
    font-weight: bold;
    border-color: #007bff;
}

.markdown-content {
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 300px;
}

.markdown-content img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}
